#include "Version.h"

1 24 "SysMon.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SYSMON_VERSION_COMMA
 PRODUCTVERSION SYSMON_VERSION_COMMA
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Prof System Monitor\0"
            VALUE "FileVersion", SYSMON_VERSION_STRING "\0"
            VALUE "InternalName", "SysMon\0"
            VALUE "OriginalFilename", "SysMon.exe\0"
            VALUE "ProductName", "Prof System Monitor\0"
            VALUE "ProductVersion", SYSMON_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
